source https://nuget.org/api/v2

framework: 462

nuget FSharp.Core
nuget NUnit
nuget NUnit.ConsoleRunner
nuget FsUnit
nuget FsCheck.NUnit >= 3.0.0-alpha2
nuget FAKE
nuget FSharp.Compatibility.OCaml
nuget libsodium-net
nuget FsNetMQ >= 0.2.7.0
nuget FsPickler
nuget FSharp.Control.Reactive
nuget System.Reactive.Linq
nuget BouncyCastle
nuget FSharp.Configuration
nuget Argu
nuget FSharp.Data
nuget zen_secp256k1_linux 0.1.0.25-v6ad5cdb42a1a
nuget zen_z3_linux 4.5.1.7-v1f29cebd4df
nuget zen_secp256k1_osx 0.1.0.25-v6ad5cdb42a1a
nuget zen_z3_osx 4.5.1.7-v1f29cebd4df6
nuget FsBech32 >= 0.1.0.7
nuget ZFStar 0.0.4
nuget Zen.FSharp.Compiler.Service 17.0.2
nuget ZFS-Tools
