source https://nuget.org/api/v2

framework: 47

nuget FSharp.Core 4.3.4
nuget NUnit
nuget NUnit.ConsoleRunner
nuget FsUnit
nuget FsCheck.NUnit >= 3.0.0-alpha2
nuget FAKE
nuget FSharp.Compatibility.OCaml
nuget FSharpx.Collections
nuget FsNetMQ >= 0.2.7.0
nuget FsPickler
nuget FSharp.Control.Reactive
nuget System.Reactive.Linq
nuget BouncyCastle
nuget FSharp.Configuration
nuget Argu
nuget FSharp.Data
nuget FsBech32 >= 0.1.0.7
nuget ZFStar 0.0.17
nuget Zen.FSharp.Compiler.Service 17.0.2
nuget ZFS-Tools 0.0.16
nuget FSharpx.Extras
nuget Newtonsoft.Json
nuget Base58Check
nuget NBitcoin
nuget secp256k1_vc141
nuget LightningDB
nuget Logary
nuget NodaTime 1.3.2 // specific version needed by Logary

source https://www.myget.org/F/zenprotocol/api/v2

nuget zen_z3_linux 4.5.1.8-v1f29cebd4df
nuget zen_z3_osx 4.5.1.8-v1f29cebd4df6
nuget zen_secp256k1_linux 0.1.0.26-v6ad5cdb42a1a
nuget zen_secp256k1_osx 0.1.0.26-v6ad5cdb42a1a
nuget zen_z3_windows 4.5.1.7-v1f29cebd4df
