source https://nuget.org/api/v2

nuget FSharp.Core
nuget xunit
nuget FsUnit.xUnit
nuget FsCheck.Xunit
nuget Zen.FSharp.Compiler.Service
nuget FAKE
nuget FSharp.Compatibility.OCaml
nuget libsodium-net
nuget FsNetMQ
nuget FsPickler
nuget xunit.runner.console
nuget FSharp.Control.Reactive
nuget System.Reactive.Linq

