source https://nuget.org/api/v2

nuget FSharp.Core
nuget xunit
nuget FsUnit.xUnit
nuget FsCheck.Xunit
nuget Zen.FSharp.Compiler.Service
nuget FAKE
nuget FSharp.Compatibility.OCaml
nuget libsodium-net
nuget FsNetMQ >= 0.2.4.0
nuget FsPickler
nuget xunit.runner.console
nuget FSharp.Control.Reactive
nuget System.Reactive.Linq
nuget FSharp.NET.Sdk
nuget System.ValueTuple
nuget BouncyCastle
nuget FSharp.Configuration
nuget Argu

